# CI pipeline to build and push Docker image to Azure Container Registry

trigger:
- master     # change to 'main' if needed

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: '8ce77cfa-4ca3-4a16-aba5-c05f059107b6'
  imageRepository: 'cicddockerapp'
  containerRegistry: 'cicdacr01.azurecr.io'

  # Path to Dockerfile
  dockerfilePath: '$(Build.SourcesDirectory)/Cicddockerapp/Dockerfile'

  # Tag image with build ID + latest
  tag: '$(Build.BuildId)'

pool:
  name: poolagentchristo     # your self-hosted agent pool

stages:
- stage: Build
  displayName: Build and Push Stage

  jobs:
  - job: BuildAndPush
    displayName: Build and Push Image to ACR

    steps:

    - task: Docker@2
      displayName: Build and Push Docker Image
      inputs:
        command: buildAndPush
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        buildContext: '$(Build.SourcesDirectory)'
        tags: |
          $(tag)
          latest

